{
  "swagger": "2.0",
  "host": "api.sandbox.socotra.com",
  "basePath": "/",
  "info": {
    "description": "Socotra REST API Description",
    "version": "1.3.191",
    "title": "Socotra API Reference"
  },
  "produces": [
    "application/json"
  ],
  "consumes": [
    "*/*"
  ],
  "tags": [
    {
      "name": "Analytics"
    },
    {
      "name": "Calculation"
    },
    {
      "name": "Cancellations"
    },
    {
      "name": "Claims"
    },
    {
      "name": "Document"
    },
    {
      "name": "Endorsements"
    },
    {
      "name": "Event stream"
    },
    {
      "name": "Grace period"
    },
    {
      "name": "Invoice"
    },
    {
      "name": "Lapse"
    },
    {
      "name": "Media"
    },
    {
      "name": "PaymentsReversal"
    },
    {
      "name": "Policies"
    },
    {
      "name": "Policy"
    },
    {
      "name": "Policyholder"
    },
    {
      "name": "Policyholders"
    },
    {
      "name": "PremiumReport"
    },
    {
      "name": "Product"
    },
    {
      "name": "Quotes"
    },
    {
      "name": "Reinstatement"
    },
    {
      "name": "Reinstatements"
    },
    {
      "name": "Renewals"
    },
    {
      "name": "Report"
    },
    {
      "name": "Storage / Customization"
    }
  ],
  "paths": {
    "/_analytics/tenant": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "getTenantStatsUsingGET",
        "operationId": "getTenantStatsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TenantStatsResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/authenticate": {
      "post": {
        "tags": [],
        "summary": "authenticate3UsingPOST",
        "operationId": "authenticate3UsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AuthenticateRequest3"
            }
          },
          {
            "in": "query",
            "name": "hostName",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "tenantName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuthenticateResponse3"
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/authenticateAdmin": {
      "post": {
        "tags": [],
        "summary": "authenticateAdminUsingPOST",
        "operationId": "authenticateAdminUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/AuthenticateRequest3"
            }
          },
          {
            "in": "query",
            "name": "hostName",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "tenantLocator",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "tenantName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuthenticateResponse3"
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/renewAuthentication": {
      "post": {
        "tags": [],
        "summary": "renewAuthentication3UsingPOST",
        "operationId": "renewAuthentication3UsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AuthenticateResponse3"
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/sso/accountInternal": {
      "post": {
        "tags": [],
        "summary": "createSsoInternalAccountUsingPOST",
        "operationId": "createSsoInternalAccountUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "internalAccountRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SsoAddInternalAccountRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SsoAccountResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/sso/findByHostname": {
      "post": {
        "tags": [],
        "summary": "findAccountsByHostnameUsingPOST",
        "operationId": "findAccountsByHostnameUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "ssoFindByHostnameRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SsoFindByHostnameRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountPagedResultResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/sso/findByTenant": {
      "post": {
        "tags": [],
        "summary": "findAccountsByTenantUsingPOST",
        "operationId": "findAccountsByTenantUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "ssoFindByTenantRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SsoFindByTenantRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountPagedResultResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/sso/findTenantsForAdmin": {
      "get": {
        "tags": [],
        "summary": "hostnameForAdminUsingGET",
        "operationId": "hostnameForAdminUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SsoFindTenantsForAdminResponse"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/sso/integrations": {
      "post": {
        "tags": [],
        "summary": "getExternalServiceIntegrationsUsingPOST",
        "operationId": "getExternalServiceIntegrationsUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "ssoFindByHostnameRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SsoFindByHostnameRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExternalServiceIntegrationsResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/sso/queryLogs": {
      "post": {
        "tags": [],
        "summary": "querySsoLogsUsingPOST",
        "operationId": "querySsoLogsUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "queryLogs",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SsoQueryLogRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/QueryResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/unlock": {
      "post": {
        "tags": [],
        "summary": "unlockAccountUsingPOST",
        "operationId": "unlockAccountUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountUnlockRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false
      }
    },
    "/account/v1/account": {
      "post": {
        "tags": [],
        "summary": "addAccountUsingPOST",
        "operationId": "addAccountUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "accountRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountAddRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/v1/account/{accountId}": {
      "delete": {
        "tags": [],
        "summary": "deleteAccountUsingDELETE",
        "operationId": "deleteAccountUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [],
        "summary": "getAccountUsingGET",
        "operationId": "getAccountUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountResponse"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [],
        "summary": "updateAccountUsingPATCH",
        "operationId": "updateAccountUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "accountRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/account/v1/account/{accountId}/password": {
      "put": {
        "tags": [],
        "summary": "setPasswordUsingPUT",
        "operationId": "setPasswordUsingPUT",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "passwordRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountPasswordRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false
      }
    },
    "/account/v1/account/{accountId}/status": {
      "put": {
        "tags": [],
        "summary": "setStatusUsingPUT",
        "operationId": "setStatusUsingPUT",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false
      }
    },
    "/account/v1/accounts/password": {
      "patch": {
        "tags": [],
        "summary": "setPasswordUsingPATCH",
        "operationId": "setPasswordUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "passwordRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordChangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false
      }
    },
    "/account/v1/findByTenant": {
      "get": {
        "tags": [],
        "summary": "getAccountsByTenantUsingGET",
        "operationId": "getAccountsByTenantUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountPagedResultResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/calculation/checkExistingPerilPremium": {
      "post": {
        "tags": [
          "Calculation"
        ],
        "summary": "checkExistingPerilPremiumUsingPOST",
        "operationId": "checkExistingPerilPremiumUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckExistingPerilPremiumRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalculationResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/calculation/checkPerilPremium": {
      "post": {
        "tags": [
          "Calculation"
        ],
        "summary": "checkPerilPremiumUsingPOST",
        "operationId": "checkPerilPremiumUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckPerilPremiumRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CalculationResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/cancellations/{locator}": {
      "get": {
        "tags": [
          "Cancellations"
        ],
        "summary": "getCancellationUsingGET",
        "operationId": "getCancellationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "locator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CancellationResponse"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Cancellations"
        ],
        "summary": "updateCancellationUsingPATCH",
        "operationId": "updateCancellationUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "locator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancellationUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CancellationResponse"
            }
          }
        },
        "description": "\"For a cancellation to be \"+\"updated it must be in the draft state.\"",
        "deprecated": false
      }
    },
    "/cancellations/{locator}/issue": {
      "patch": {
        "tags": [
          "Cancellations"
        ],
        "summary": "issueCancellationUsingPATCH",
        "operationId": "issueCancellationUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "locator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CancellationResponse"
            }
          }
        },
        "description": "\"This operation is applicable \"+\"to cancellations in the draft state\"",
        "deprecated": false
      }
    },
    "/cancellations/{locator}/price": {
      "get": {
        "tags": [
          "Cancellations"
        ],
        "summary": "priceCancellationUsingGET",
        "operationId": "priceCancellationUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "locator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyPriceChangeResponse"
            }
          }
        },
        "description": "\"A response \"+\"is computed for cancellations that are both valid at the time of the request \"+\"and which are in one of the states: draft, issued, reinstated.\"",
        "deprecated": false
      }
    },
    "/cancellations/{locator}/reinstate": {
      "patch": {
        "tags": [
          "Cancellations"
        ],
        "summary": "reinstateCancellationUsingPATCH",
        "operationId": "reinstateCancellationUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "locator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReinstatementRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReinstatementResponse"
            }
          }
        },
        "description": "\"Cancellations can only have one associated reinstatement and the cancellation must be in the \"+\"issued state for the reinstatement request to be successful.\"",
        "deprecated": false
      }
    },
    "/cancellations/{locator}/rescind": {
      "patch": {
        "tags": [
          "Cancellations"
        ],
        "summary": "rescindCancellationUsingPATCH",
        "operationId": "rescindCancellationUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "locator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CancellationResponse"
            }
          }
        },
        "description": "\"This operation acts \"+\"on cancellations in the draft state\"",
        "deprecated": false
      }
    },
    "/claim": {
      "post": {
        "tags": [],
        "summary": "createClaim3UsingPOST",
        "operationId": "createClaim3UsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "createRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Claim3CreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Claim3Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/claim/{claimLocator}": {
      "get": {
        "tags": [],
        "summary": "getClaim3UsingGET",
        "operationId": "getClaim3UsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "claimLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Claim3Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/claim/{claimLocator}/discard": {
      "post": {
        "tags": [],
        "summary": "discardClaimUsingPOST",
        "operationId": "discardClaimUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "claimLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false
      }
    },
    "/claim/{claimLocator}/update": {
      "post": {
        "tags": [],
        "summary": "updateClaim3UsingPOST",
        "operationId": "updateClaim3UsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "claimLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "updateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Claim3UpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Claim3Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/claims": {
      "get": {
        "tags": [
          "Claims"
        ],
        "summary": "listClaimsUsingGET",
        "operationId": "listClaimsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "createdAfterTimestamp",
            "required": false,
            "type": "integer",
            "description": "Created after time-stamp."
          },
          {
            "in": "query",
            "name": "createdBeforeTimestap",
            "required": false,
            "type": "integer",
            "description": "Created before time-stamp."
          },
          {
            "in": "query",
            "name": "pageSize",
            "required": false,
            "type": "integer",
            "description": "Page size."
          },
          {
            "in": "query",
            "name": "pagingToken",
            "required": false,
            "type": "string",
            "description": "Paging token."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Claim3PageResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/claims/payables": {
      "post": {
        "tags": [
          "Claims"
        ],
        "summary": "createPayableOnSubClaimUsingPOST",
        "operationId": "createPayableOnSubClaimUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubClaimPayableCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubClaimPayableResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/claims/payables/{payableLocator}": {
      "get": {
        "tags": [
          "Claims"
        ],
        "summary": "getPayableByLocatorUsingGET",
        "operationId": "getPayableByLocatorUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "payableLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubClaimPayableResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/claims/payables/reversals": {
      "post": {
        "tags": [
          "Claims"
        ],
        "summary": "reversePayableOnSubClaimUsingPOST",
        "operationId": "reversePayableOnSubClaimUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "reversalRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SubClaimPayableReverseRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubClaimPayableResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/configuration/deployTest": {
      "post": {
        "tags": [],
        "summary": "DeployTestConfigurationUsingPOST",
        "operationId": "DeployTestConfigurationUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "tenantNameSuffix",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "zipFile",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeployTestConfigurationResponse"
            }
          }
        },
        "description": "Deploy a test configuration",
        "consumes": [
          "multipart/form-data"
        ],
        "deprecated": false
      }
    },
    "/dailystats/features": {
      "get": {
        "tags": [],
        "summary": "getFeaturesSummaryUsingGET",
        "operationId": "getFeaturesSummaryUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "locators",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "memoNamespace",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/document/renderPolicyDocument": {
      "post": {
        "tags": [
          "Document"
        ],
        "summary": "renderPolicyDocumentUsingPOST",
        "operationId": "renderPolicyDocumentUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyDocumentRenderRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DocumentRenderResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/endorsements/{endorsementLocator}": {
      "get": {
        "tags": [
          "Endorsements"
        ],
        "summary": "getOneEndorsementByLocatorUsingGET",
        "operationId": "getOneEndorsementByLocatorUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "endorsementLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EndorsementResponse"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Endorsements"
        ],
        "summary": "updateEndorsementUsingPATCH",
        "operationId": "updateEndorsementUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "actionRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EndorsementActionRequest"
            }
          },
          {
            "in": "path",
            "name": "endorsementLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EndorsementResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/endorsements/{endorsementLocator}/automatedUnderwritingResult": {
      "get": {
        "tags": [
          "Endorsements"
        ],
        "summary": "getOneEndorsementAutomatedUnderwritingResultUsingGET",
        "operationId": "getOneEndorsementAutomatedUnderwritingResultUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "endorsementLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AutomatedUnderwritingResultResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/endorsements/{endorsementLocator}/policyWhenIssued": {
      "get": {
        "tags": [
          "Endorsements"
        ],
        "summary": "getPolicyWithAcceptedEndorsementAsIssuedUsingGET",
        "operationId": "getPolicyWithAcceptedEndorsementAsIssuedUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "endorsementLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy2Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/endorsements/{endorsementLocator}/price": {
      "get": {
        "tags": [
          "Endorsements"
        ],
        "summary": "getOneEndorsementPriceChangeUsingGET",
        "operationId": "getOneEndorsementPriceChangeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "endorsementLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyPriceChangeResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/eventstream/attributedEvents": {
      "get": {
        "tags": [],
        "summary": "getAttributedEventsUsingGET",
        "operationId": "getAttributedEventsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "endTimestamp",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "eventType",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageSize",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "pagingToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "startTimestamp",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EventPageResponse"
            }
          }
        },
        "description": "Deliver events with user attribution",
        "deprecated": false
      }
    },
    "/eventstream/events": {
      "get": {
        "tags": [
          "Event stream"
        ],
        "summary": "getEventsUsingGET",
        "operationId": "getEventsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "endTimestamp",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "eventType",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "pageSize",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "pagingToken",
            "required": false,
            "type": "string"
          },
          {
            "in": "query",
            "name": "startTimestamp",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EventPageResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/gracePeriod/{gracePeriodLocator}": {
      "get": {
        "tags": [
          "Grace period"
        ],
        "summary": "getGracePeriodUsingGET",
        "operationId": "getGracePeriodUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "gracePeriodLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GracePeriodResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/health": {
      "get": {
        "tags": [],
        "summary": "getHealthUsingGET",
        "operationId": "getHealthUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HealthResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/integrations": {
      "get": {
        "tags": [],
        "summary": "getExternalServiceIntegrationsUsingGET",
        "operationId": "getExternalServiceIntegrationsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExternalServiceIntegrationsResponse"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [],
        "summary": "addExternalServiceIntegrationUsingPOST",
        "operationId": "addExternalServiceIntegrationUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalServiceIntegrationAddRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExternalServiceIntegrationsResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/integrations/{integrationName}": {
      "delete": {
        "tags": [],
        "summary": "deleteExternalServiceIntegrationUsingDELETE",
        "operationId": "deleteExternalServiceIntegrationUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "integrationName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExternalServiceIntegrationsResponse"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [],
        "summary": "updateExternalServiceIntegrationUsingPUT",
        "operationId": "updateExternalServiceIntegrationUsingPUT",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "integrationName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalServiceIntegrationUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExternalServiceIntegrationsResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/integrations/batchUpdate": {
      "put": {
        "tags": [],
        "summary": "batchUpdateExternalServiceIntegrationsUsingPUT",
        "operationId": "batchUpdateExternalServiceIntegrationsUsingPUT",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalServiceIntegrationBatchUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExternalServiceIntegrationsResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/invoice/{invoiceLocator}": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "getInvoiceUsingGET",
        "operationId": "getInvoiceUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invoiceLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyInvoice2Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/invoice/{invoiceLocator}/financialTransactions": {
      "get": {
        "tags": [
          "Invoice"
        ],
        "summary": "getFinancialTransactionsForInvoiceUsingGET",
        "operationId": "getFinancialTransactionsForInvoiceUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invoiceLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetInvoiceFinancialTransactionsResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/invoice/{invoiceLocator}/pay": {
      "post": {
        "tags": [
          "Invoice"
        ],
        "summary": "payInvoice2UsingPOST",
        "operationId": "payInvoice2UsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invoiceLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "paymentCreateRequest",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PaymentCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaymentResponse2"
            }
          }
        },
        "deprecated": false
      }
    },
    "/lapse/{lapseLocator}": {
      "get": {
        "tags": [
          "Lapse"
        ],
        "summary": "getLapseByLocatorUsingGET",
        "operationId": "getLapseByLocatorUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "lapseLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LapseResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/media": {
      "post": {
        "tags": [
          "Media"
        ],
        "summary": "uploadMedia3UsingPOST",
        "operationId": "uploadMedia3UsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "formData",
            "name": "file",
            "required": true,
            "type": "file"
          },
          {
            "in": "query",
            "name": "fileName",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Media"
            }
          }
        },
        "consumes": [
          "multipart/form-data"
        ],
        "deprecated": false
      }
    },
    "/media/{locator}": {
      "get": {
        "tags": [
          "Media"
        ],
        "summary": "getMedia3UsingGET",
        "operationId": "getMedia3UsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "locator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Media"
            }
          }
        },
        "deprecated": false
      }
    },
    "/payments/{paymentLocator}": {
      "get": {
        "tags": [
          "PaymentsReversal"
        ],
        "summary": "getPaymentUsingGET",
        "operationId": "getPaymentUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "paymentLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaymentResponse2"
            }
          }
        },
        "deprecated": false
      }
    },
    "/payments/{paymentLocator}/reverse": {
      "post": {
        "tags": [
          "PaymentsReversal"
        ],
        "summary": "reversePaymentUsingPOST",
        "operationId": "reversePaymentUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "paymentLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PaymentResponse2"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policies/{locator}/cancellations": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "listCancellationsUsingGET",
        "operationId": "listCancellationsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "locator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CancellationResponse"
              }
            }
          }
        },
        "description": "\"The returned cancellations will \"+\"have the states: draft, issued, reinstated, or expired\"",
        "deprecated": false
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "createCancellationUsingPOST",
        "operationId": "createCancellationUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "locator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "req",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancellationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CancellationResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policies/{policyLocator}/endorsements": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "getAllEndorsementsByPolicyLocatorUsingGET",
        "operationId": "getAllEndorsementsByPolicyLocatorUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EndorsementResponse"
              }
            }
          }
        },
        "description": "Get all endorsements using policy locator.",
        "deprecated": false
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "createEndorsementUsingPOST",
        "operationId": "createEndorsementUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "endorsementCreateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EndorsementCreateRequest"
            }
          },
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EndorsementResponse"
            }
          }
        },
        "description": "Create an endorsement....",
        "deprecated": false
      }
    },
    "/policies/{policyLocator}/premiumReports": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "getPremiumReportsUsingGET",
        "operationId": "getPremiumReportsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PremiumReportResponse"
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "createPremiumReportUsingPOST",
        "operationId": "createPremiumReportUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "createRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PremiumReportCreateRequest"
            }
          },
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PremiumReportResponse"
            }
          }
        },
        "description": "Create an premium-report....",
        "deprecated": false
      }
    },
    "/policies/{policyLocator}/quotes": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "getAllQuotesByPolicyLocatorUsingGET",
        "operationId": "getAllQuotesByPolicyLocatorUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicyQuoteResponse"
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "createNewQuoteByPolicyLocatorUsingPOST",
        "operationId": "createNewQuoteByPolicyLocatorUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyQuoteResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policies/{policyLocator}/renewals": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "getAllRenewalsByPolicyLocatorUsingGET",
        "operationId": "getAllRenewalsByPolicyLocatorUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RenewalResponse"
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Policies"
        ],
        "summary": "createRenewalUsingPOST",
        "operationId": "createRenewalUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "renewalCreateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RenewalCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RenewalResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policies/{policyLocator}/selectedQuote": {
      "get": {
        "tags": [
          "Policies"
        ],
        "summary": "getSelectedQuoteUsingGET",
        "operationId": "getSelectedQuoteUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyQuoteResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "createPolicyUsingPOST",
        "operationId": "createPolicyUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "createRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyCreateRequest4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy2Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "getPolicyUsingGET",
        "operationId": "getPolicyUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy2Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/addDocument": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "addDocumentUsingPOST",
        "operationId": "addDocumentUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "displayName",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "document",
            "required": true,
            "type": "file"
          },
          {
            "in": "query",
            "name": "documentType",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy2Response"
            }
          }
        },
        "consumes": [
          "multipart/form-data"
        ],
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/automatedUnderwritingResult": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "getAutomatedUnderwritingResultUsingGET",
        "operationId": "getAutomatedUnderwritingResultUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AutomatedUnderwritingResultResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/cancel": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "issueCancellationUsingPOST",
        "operationId": "issueCancellationUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyCancellationIssueRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy2Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/cancellationValue": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "getCancellationValueUsingGET",
        "operationId": "getCancellationValueUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "coverageEndTimestamp",
            "required": true,
            "type": "integer"
          },
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CancellationValueResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/checkInvoices": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "checkInvoicesUsingGET",
        "operationId": "checkInvoicesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckInvoicesResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/claims": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "getClaimsByPolicyUsingGET",
        "operationId": "getClaimsByPolicyUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Claim3Response"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/createReinstatement": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "createReinstatementUsingPOST",
        "operationId": "createReinstatementUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LapseReinstatementResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/discard": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "discardPolicyUsingPOST",
        "operationId": "discardPolicyUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/endorse": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "issueEndorsementUsingPOST",
        "operationId": "issueEndorsementUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyEndorsementIssueRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy2Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/finalize": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "finalizePolicyUsingPOST",
        "operationId": "finalizePolicyUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy2Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/graceLapseReinstatements": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "getGraceLapseReinstatementsUsingGET",
        "operationId": "getGraceLapseReinstatementsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GraceLapseReinstatementResponse"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/gracePeriods": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "getGracePeriodsByPolicyUsingGET",
        "operationId": "getGracePeriodsByPolicyUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GracePeriodResponse"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/issue": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "issuePolicyUsingPOST",
        "operationId": "issuePolicyUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy2Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/issueNextInvoice": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "issueNextInvoiceUsingPOST",
        "operationId": "issueNextInvoiceUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy2Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/issueRenewal": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "issueRenewalUsingPOST",
        "operationId": "issueRenewalUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RenewalIssueRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy2Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/previewEndorsementPrice": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "previewEndorsementPriceUsingPOST",
        "operationId": "previewEndorsementPriceUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyEndorsementIssueRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyPriceChangeResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/previewRenewalPrice": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "previewRenewalPriceUsingPOST",
        "operationId": "previewRenewalPriceUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RenewalIssueRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyPriceChangeResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/price": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "getPolicyPriceUsingGET",
        "operationId": "getPolicyPriceUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetPolicyPriceResponse"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "pricePolicyUsingPOST",
        "operationId": "pricePolicyUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyPriceResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/reinstatements": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "getReinstatementsUsingGET",
        "operationId": "getReinstatementsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LapseReinstatementResponse"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/removeDocument": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "removeDocumentUsingPOST",
        "operationId": "removeDocumentUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyDocumentRemoveRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy2Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/true/grace": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "getNonSettledGraceUsingGET",
        "operationId": "getNonSettledGraceUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GracePeriodResponse"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/update": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "updatePolicyUsingPOST",
        "operationId": "updatePolicyUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "updateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Policy2UpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy2Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/{policyLocator}/withdraw": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "issueWithdrawalUsingPOST",
        "operationId": "issueWithdrawalUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policy2Response"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policy/locator": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "getPolicyLocatorUsingGET",
        "operationId": "getPolicyLocatorUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "displayId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          }
        },
        "deprecated": true
      }
    },
    "/policyholder/{policyholderLocator}": {
      "get": {
        "tags": [
          "Policyholder"
        ],
        "summary": "getPolicyholder4UsingGET",
        "operationId": "getPolicyholder4UsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyholderLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyholderResponse3"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policyholder/{policyholderLocator}/invoices": {
      "get": {
        "tags": [
          "Policyholder"
        ],
        "summary": "getInvoicesForPolicyholder4UsingGET",
        "operationId": "getInvoicesForPolicyholder4UsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyholderLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicyInvoice2Response"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/policyholder/{policyholderLocator}/policies": {
      "get": {
        "tags": [
          "Policyholder"
        ],
        "summary": "getPoliciesForPolicyholder4UsingGET",
        "operationId": "getPoliciesForPolicyholder4UsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyholderLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Policy2Response"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/policyholder/create": {
      "post": {
        "tags": [
          "Policyholder"
        ],
        "summary": "createPolicyholder4UsingPOST",
        "operationId": "createPolicyholder4UsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyholderCreateRequest2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyholderResponse3"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policyholder/update": {
      "post": {
        "tags": [
          "Policyholder"
        ],
        "summary": "updatePolicyholder4UsingPOST",
        "operationId": "updatePolicyholder4UsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "updateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyholderUpdateRequest2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyholderResponse3"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policyholder/v2/{policyholderLocator}": {
      "get": {
        "tags": [],
        "summary": "getPolicyholder3UsingGET",
        "operationId": "getPolicyholder3UsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyholderLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyholderResponse3"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policyholder/v2/{policyholderLocator}/invoices": {
      "get": {
        "tags": [
          "Policyholder"
        ],
        "summary": "getInvoicesForPolicyholderUsingGET",
        "operationId": "getInvoicesForPolicyholderUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyholderLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PolicyInvoice2Response"
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/policyholder/v2/{policyholderLocator}/policies": {
      "get": {
        "tags": [
          "Policyholder"
        ],
        "summary": "getPoliciesForPolicyholderUsingGET",
        "operationId": "getPoliciesForPolicyholderUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "policyholderLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Policy2Response"
              }
            }
          }
        },
        "description": "These are some notes to test the note function",
        "deprecated": true
      }
    },
    "/policyholder/v2/create": {
      "post": {
        "tags": [],
        "summary": "createPolicyholder3UsingPOST",
        "operationId": "createPolicyholder3UsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyholderCreateRequest2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyholderResponse3"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policyholder/v2/update": {
      "post": {
        "tags": [],
        "summary": "updatePolicyholder3UsingPOST",
        "operationId": "updatePolicyholder3UsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "updateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyholderUpdateRequest2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyholderResponse3"
            }
          }
        },
        "deprecated": false
      }
    },
    "/policyholders": {
      "get": {
        "tags": [
          "Policyholders"
        ],
        "summary": "getPolicyholdersUsingGET",
        "operationId": "getPolicyholdersUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "createdAfterTimestamp",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "createdBeforeTimestamp",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "pageSize",
            "required": false,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "pagingToken",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Policyholder3PageResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/premiumReports/{premiumReportLocator}": {
      "get": {
        "tags": [
          "PremiumReport"
        ],
        "summary": "getPremiumReportUsingGET",
        "operationId": "getPremiumReportUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "premiumReportLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PremiumReportResponse"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "PremiumReport"
        ],
        "summary": "updatePremiumReportUsingPATCH",
        "operationId": "updatePremiumReportUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "premiumReportLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "updateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PremiumReportUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PremiumReportResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/premiumReports/{premiumReportLocator}/discard": {
      "patch": {
        "tags": [
          "PremiumReport"
        ],
        "summary": "discardPremiumReportUsingPATCH",
        "operationId": "discardPremiumReportUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "premiumReportLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false
      }
    },
    "/premiumReports/{premiumReportLocator}/issue": {
      "patch": {
        "tags": [
          "PremiumReport"
        ],
        "summary": "issuePremiumReportUsingPATCH",
        "operationId": "issuePremiumReportUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "premiumReportLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PremiumReportResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/products/[\"/{configVersion}\" | \"\"]": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "getProductsUsingGET",
        "operationId": "getProductsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "configVersion",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductConfiguration2Response"
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/quotes/{quoteLocator}": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "getPolicyQuoteByLocatorUsingGET",
        "operationId": "getPolicyQuoteByLocatorUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "quoteLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyQuoteResponse"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Quotes"
        ],
        "summary": "updateQuoteUsingPATCH",
        "operationId": "updateQuoteUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "quoteLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "updateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyQuoteUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyQuoteResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/quotes/{quoteLocator}/accept": {
      "patch": {
        "tags": [
          "Quotes"
        ],
        "summary": "acceptPolicyQuoteUsingPATCH",
        "operationId": "acceptPolicyQuoteUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "quoteLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyQuoteResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/quotes/{quoteLocator}/createNew": {
      "post": {
        "tags": [
          "Quotes"
        ],
        "summary": "createQuoteFromExistingUsingPOST",
        "operationId": "createQuoteFromExistingUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "addedChanges",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PolicyQuoteUpdateRequest"
            }
          },
          {
            "in": "path",
            "name": "quoteLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyQuoteResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/quotes/{quoteLocator}/discard": {
      "patch": {
        "tags": [
          "Quotes"
        ],
        "summary": "discardPolicyQuoteUsingPATCH",
        "operationId": "discardPolicyQuoteUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "quoteLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyQuoteResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/quotes/{quoteLocator}/invalidate": {
      "patch": {
        "tags": [
          "Quotes"
        ],
        "summary": "invalidatePolicyQuoteUsingPATCH",
        "operationId": "invalidatePolicyQuoteUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "quoteLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyQuoteResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/quotes/{quoteLocator}/price": {
      "get": {
        "tags": [
          "Quotes"
        ],
        "summary": "fetchPolicyQuotePriceUsingGET",
        "operationId": "fetchPolicyQuotePriceUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "quoteLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PolicyPriceResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/quotes/{quoteLocator}/select": {
      "patch": {
        "tags": [
          "Quotes"
        ],
        "summary": "selectPolicyQuoteUsingPATCH",
        "operationId": "selectPolicyQuoteUsingPATCH",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "quoteLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": false
      }
    },
    "/reinstatement/{reinstatementLocator}": {
      "get": {
        "tags": [
          "Reinstatement"
        ],
        "summary": "getReinstatementByLocatorUsingGET",
        "operationId": "getReinstatementByLocatorUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "reinstatementLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LapseReinstatementResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/reinstatement/{reinstatementLocator}/addDocument": {
      "post": {
        "tags": [
          "Reinstatement"
        ],
        "summary": "addDocumentToReinstatementUsingPOST",
        "operationId": "addDocumentToReinstatementUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "displayName",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "document",
            "required": true,
            "type": "file"
          },
          {
            "in": "query",
            "name": "documentType",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "reinstatementLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LapseReinstatementResponse"
            }
          }
        },
        "consumes": [
          "multipart/form-data"
        ],
        "deprecated": false
      }
    },
    "/reinstatement/{reinstatementLocator}/amountDue": {
      "post": {
        "tags": [
          "Reinstatement"
        ],
        "summary": "getReinstatementAmountDueUsingPOST",
        "operationId": "getReinstatementAmountDueUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "reinstatementLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReinstatementAmountDueRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReinstatementAmountDueResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/reinstatement/{reinstatementLocator}/close": {
      "post": {
        "tags": [
          "Reinstatement"
        ],
        "summary": "closeReinstatementUsingPOST",
        "operationId": "closeReinstatementUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "reinstatementLocator",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LapseReinstatementResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/reinstatement/{reinstatementLocator}/invoice": {
      "post": {
        "tags": [
          "Reinstatement"
        ],
        "summary": "invoiceReinstatementUsingPOST",
        "operationId": "invoiceReinstatementUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "reinstatementLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReinstatementInvoiceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LapseReinstatementResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/reinstatement/{reinstatementLocator}/removeDocument": {
      "post": {
        "tags": [
          "Reinstatement"
        ],
        "summary": "removeDocumentFromReinstatementUsingPOST",
        "operationId": "removeDocumentFromReinstatementUsingPOST",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "reinstatementLocator",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReinstatementDocumentRemoveRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LapseReinstatementResponse"
            }
          }
        },
        "deprecated": false
      }
    },
    "/reinstatements/{locator}": {
      "get": {
        "tags": [
          "Reinstatements"
        ],
        "summary": "getReinstatementUsingGET",
        "operationId": "getReinstatementUsingGET",
        "produces": [
          "*/*"
        ],
[...]
